.portfolio__heading{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.portfolio__heading > h2{
    font-weight: 500;
    font-size: 2.2rem;
}

.portfolio__card{
    display: flex;
    justify-content: space-evenly;
}

.banner__text{
    font-size: 1.6rem;
}
