.services__title{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.services__heading{
    font-weight: 400;
}

.services_card{
    display: flex;
    padding: 0 3rem;
    overflow-y: hidden;
}

.services_card::-webkit-scrollbar{
    display: none;
}